DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/dbname
FERNET_KEY=placeholder
JWT_SECRET=placeholder
GOOGLE_CLIENT_ID=placeholder
RESEND_API=placeholder
RESEND_EMAIL_FROM=placeholder@domain_name
FRONTEND_URL=http://localhost:5173

# Postgresql

POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdbname